body {
    background-color: lightgrey;
}

.flexbox-container {
    display: flex;
    flex-direction: column;
    padding: 1em;
    gap: 1em;
}
.flexbox-item {

    border: 3px solid#333; 
    border-radius: 10px;
    background-color: #dfdfdf;
    text-align: center;
    color: white;
    padding: 1em;

}
.flexbox-header {
    background-color: teal;

}
.flexbox-article {
    display: flex;
    flex-direction: column;
    background-color: lightgreen;
    gap: 1em;
    
    
}
.flexbox-aside {
    background-color: purple;
    
}
.flexbox-footer {
    background-color: orange;
    
}
.flexbox-articles {
    background-color: red;   
}
@media (min-width: 768px) {
.flexbox-container2 {
    display: flex;

}
.flexbox-aside {
    background-color: purple;
    order: 1;
    flex: 1;
    
}
.flexbox-article {
    order: 2;
    flex: 3;
}

}