body {
    background-color: lightgrey;
}

.flexbox-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.flexbox-item {
    min-width: 250px;
    margin: 5px;
    border: 3px solid#333;
    border-radius: 10px;
    background-color: #dfdfdf;
    text-align: center;
    color: white;
    align-items: center;
}
.flexbox-header {
    background-color: teal;

}
.flexbox-article {
    display: flex;
    flex-direction: column;
    background-color: lightgreen;
    flex-grow: 1;
    
}
.flexbox-aside {
    background-color: purple;
    
}
.flexbox-footer {
    background-color: orange;
    
}
.flexbox-articles {
    align-items: center;
    justify-content: center;
    background-color: red;
    width: 230px;
    align-items: center;
    justify-content: space-evenly;
    flex-grow: 1;

    
}